In [11]:
import pandas as pd 
import numpy as np

In [12]:
# import the collected data

df  = pd.read_csv('../data_collection/review_data.csv')

In [13]:
df.head()

,profile_name,user_reviews,rating_date,visit_date,summary,text,stars
0,peterbH5107W,16 reviews,"Reviewed October 30, 2022",Date of visit: October 2022,Excellent food and cabaret,We were recommended to go here while in Paphos...,5
1,relinquishedall,8 reviews,"Reviewed October 29, 2022",Date of visit: October 2022,"Music, Palinka, decent food","Had some food and a few beers, as a band playe...",5
2,audreysouthampton,5 reviews,"Reviewed October 28, 2022",Date of visit: October 2022,Great evening,"What a lovely evening, the staff couldn’t of b...",5
3,pauladK1021PE,1 review,"Reviewed October 23, 2022",Date of visit: October 2022,LOVE LOVE LOVE Fat Mamas,2nd night out of 4 for us. Had to go back as o...,5
4,Le5ley63,30 reviews,"Reviewed October 22, 2022",Date of visit: October 2022,Great night,"Food really good, fantastic service, and danc...",5

In [14]:
# remove from column user_reviews the word reviews, we need only the number of reviews

df['user_reviews'] = df['user_reviews'].str.split().str[0]
df.head()

,profile_name,user_reviews,rating_date,visit_date,summary,text,stars
0,peterbH5107W,16,"Reviewed October 30, 2022",Date of visit: October 2022,Excellent food and cabaret,We were recommended to go here while in Paphos...,5
1,relinquishedall,8,"Reviewed October 29, 2022",Date of visit: October 2022,"Music, Palinka, decent food","Had some food and a few beers, as a band playe...",5
2,audreysouthampton,5,"Reviewed October 28, 2022",Date of visit: October 2022,Great evening,"What a lovely evening, the staff couldn’t of b...",5
3,pauladK1021PE,1,"Reviewed October 23, 2022",Date of visit: October 2022,LOVE LOVE LOVE Fat Mamas,2nd night out of 4 for us. Had to go back as o...,5
4,Le5ley63,30,"Reviewed October 22, 2022",Date of visit: October 2022,Great night,"Food really good, fantastic service, and danc...",5

In [15]:
df.drop(columns=['rating_date'], inplace=True)
df.head()

,profile_name,user_reviews,visit_date,summary,text,stars
0,peterbH5107W,16,Date of visit: October 2022,Excellent food and cabaret,We were recommended to go here while in Paphos...,5
1,relinquishedall,8,Date of visit: October 2022,"Music, Palinka, decent food","Had some food and a few beers, as a band playe...",5
2,audreysouthampton,5,Date of visit: October 2022,Great evening,"What a lovely evening, the staff couldn’t of b...",5
3,pauladK1021PE,1,Date of visit: October 2022,LOVE LOVE LOVE Fat Mamas,2nd night out of 4 for us. Had to go back as o...,5
4,Le5ley63,30,Date of visit: October 2022,Great night,"Food really good, fantastic service, and danc...",5

In [16]:
# also for this analysis I don't think that I need the month of rating, neither the month of visit

df.drop(columns=['visit_date'], inplace=True)
df.head()

,profile_name,user_reviews,summary,text,stars
0,peterbH5107W,16,Excellent food and cabaret,We were recommended to go here while in Paphos...,5
1,relinquishedall,8,"Music, Palinka, decent food","Had some food and a few beers, as a band playe...",5
2,audreysouthampton,5,Great evening,"What a lovely evening, the staff couldn’t of b...",5
3,pauladK1021PE,1,LOVE LOVE LOVE Fat Mamas,2nd night out of 4 for us. Had to go back as o...,5
4,Le5ley63,30,Great night,"Food really good, fantastic service, and danc...",5

In [17]:
# df.to_csv('reviews_cleaned.csv', index=False)

In [18]:
data_framee  = pd.read_csv('../data_collection/review_data.csv')

In [19]:
data_framee = data_framee.drop(columns=['visit_date']).copy()

In [20]:
from datetime import datetime

# Convert the "rating_date" column to the desired format
data_framee["rating_date"] = data_framee["rating_date"].apply(lambda date: datetime.strptime(" ".join(date.split(" ")[-2:]), "%d, %Y").strftime("%d/%m/%Y"))

# Print the resulting DataFrame
print(data_framee)

            profile_name user_reviews rating_date  \
0           peterbH5107W   16 reviews  30/01/2022
1        relinquishedall    8 reviews  29/01/2022
2      audreysouthampton    5 reviews  28/01/2022
3          pauladK1021PE     1 review  23/01/2022
4               Le5ley63   30 reviews  22/01/2022
...                  ...          ...         ...
2725            PartyGal    3 reviews  18/01/2010
2726                LJWB   48 reviews  17/01/2010
2727          LeedsBuffy     1 review  05/01/2010
2728           lynrevell   51 reviews  22/01/2010
2729  MartinRobinson1987   20 reviews  21/01/2010

                                                summary  \
0                            Excellent food and cabaret
1                           Music, Palinka, decent food
2                                         Great evening
3                              LOVE LOVE LOVE Fat Mamas
4                                           Great night
...                                                 ...
2725                            expensive and a rip off
2726                        Family fun & huge portions!
2727  Fantastic food, fantastic atmosphere, fantasti...
2728                                           Good fun
2729         How is the restaurant not up in the top...

                                                   text  stars
0     We were recommended to go here while in Paphos...      5
1     Had some food and a few beers, as a band playe...      5
2     What a lovely evening, the staff couldn’t of b...      5
3     2nd night out of 4 for us. Had to go back as o...      5
4     Food really good,  fantastic service, and danc...      5
...                                                 ...    ...
2725  On arrival at the restaurant we was greeted by...      3
2726  Eat here most times we visit Paphos, choice of...      4
2727  I e-mailed the restaurant prior to going on ho...      5
2728  Went to Fat Mamas for a meal on my last night ...      4
2729  How is the restaurant not up in the top ten at...      5

[2730 rows x 6 columns]

In [21]:
rating_date = data_framee['rating_date']

In [23]:
rating_date

0       30/01/2022
1       29/01/2022
2       28/01/2022
3       23/01/2022
4       22/01/2022
           ...
2725    18/01/2010
2726    17/01/2010
2727    05/01/2010
2728    22/01/2010
2729    21/01/2010
Name: rating_date, Length: 2730, dtype: object

In [22]:
#rating_date.to_csv('rating_date.csv')

In [27]:
fix_issue_date = pd.read_csv('../data_collection/review_data.csv')
fix_issue_date

,profile_name,user_reviews,rating_date,visit_date,summary,text,stars
0,peterbH5107W,16 reviews,"Reviewed October 30, 2022",Date of visit: October 2022,Excellent food and cabaret,We were recommended to go here while in Paphos...,5
1,relinquishedall,8 reviews,"Reviewed October 29, 2022",Date of visit: October 2022,"Music, Palinka, decent food","Had some food and a few beers, as a band playe...",5
2,audreysouthampton,5 reviews,"Reviewed October 28, 2022",Date of visit: October 2022,Great evening,"What a lovely evening, the staff couldn’t of b...",5
3,pauladK1021PE,1 review,"Reviewed October 23, 2022",Date of visit: October 2022,LOVE LOVE LOVE Fat Mamas,2nd night out of 4 for us. Had to go back as o...,5
4,Le5ley63,30 reviews,"Reviewed October 22, 2022",Date of visit: October 2022,Great night,"Food really good, fantastic service, and danc...",5
...,...,...,...,...,...,...,...
2725,PartyGal,3 reviews,"Reviewed July 18, 2010",NaN,expensive and a rip off,On arrival at the restaurant we was greeted by...,3
2726,LJWB,48 reviews,"Reviewed July 17, 2010",NaN,Family fun & huge portions!,"Eat here most times we visit Paphos, choice of...",4
2727,LeedsBuffy,1 review,"Reviewed July 5, 2010",NaN,"Fantastic food, fantastic atmosphere, fantasti...",I e-mailed the restaurant prior to going on ho...,5
2728,lynrevell,51 reviews,"Reviewed June 22, 2010",NaN,Good fun,Went to Fat Mamas for a meal on my last night ...,4
2729,MartinRobinson1987,20 reviews,"Reviewed June 21, 2010",NaN,How is the restaurant not up in the top...,How is the restaurant not up in the top ten at...,5

In [28]:
fix_issue_date['rating_date']

0       Reviewed October 30, 2022
1       Reviewed October 29, 2022
2       Reviewed October 28, 2022
3       Reviewed October 23, 2022
4       Reviewed October 22, 2022
                  ...
2725       Reviewed July 18, 2010
2726       Reviewed July 17, 2010
2727        Reviewed July 5, 2010
2728       Reviewed June 22, 2010
2729       Reviewed June 21, 2010
Name: rating_date, Length: 2730, dtype: object

In [ ]:
from datetime import datetime

# Convert the "rating_date" column to the desired format
fix_issue_date["rating_date"] = fix_issue_date["rating_date"].apply(lambda date: datetime.\
                                                                    strptime(date.replace("Reviewed ", ""), "%B %d, %Y").\
                                                                        strftime("%d/%m/%Y"))

# Print the resulting DataFrame
print(fix_issue_date)

In [34]:
fix_issue_date['rating_date']

0       30/10/2022
1       29/10/2022
2       28/10/2022
3       23/10/2022
4       22/10/2022
           ...
2725    18/07/2010
2726    17/07/2010
2727    05/07/2010
2728    22/06/2010
2729    21/06/2010
Name: rating_date, Length: 2730, dtype: object

In [36]:
fixed_dates = fix_issue_date['rating_date']

In [37]:
fixed_dates.to_csv('fixed_dates.csv')

In [38]:
# to conlude, I was trying to extract the date that the rating was done, but unfortunate the problem was that
# all the months was setted as January